.footer__paragraph {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

@media screen and (max-width: 880px) {
  .footer__paragraph {
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .footer__paragraph {
    text-align: left;
    font-size: 14px;
  }
}
