.preview__window {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 75vw;
  max-height: 75vh;
  margin: auto;
}

@media screen and (max-width: 500px) {
  .preview__window {
    margin: auto;
  }
}
