.profile__avatar {
  background-image: url("../../../images/jacques.jpg");
  background-position: center;
  background-size: cover;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
}
