.form__new-card {
  height: 100%;
  width: 358px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .form__new-card {
    width: 90%;
  }
}

@media screen and (max-width: 320px) {
  .form__new-card {
    width: 238px;
  }
}
